body {
  background-image: url('img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.compiler {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  color: #0093ec;
  background-color: #0093ec;
}

.menu-btnv1 {
  background-color: #fff;
  color: #0093ec;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  border: none;
}

.menu-btnv2 {
  background-color: #fff;
  color: #0093ec;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  position: relative;
  left: 15px;
  border: none;
}

.menu-btnv3 {
  background-color: #fff;
  color: #0093ec;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  position: relative;
  left: 25px;
  border: none;
}

.menu-btnv4 {
  background-color: #fff;
  color: #0093ec;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  position: relative;
  left: 35px;
  border: none;
}

.menu-btnv5 {
  background-color: #fff;
  color: #0093ec;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  position: relative;
  left: 45px;
  border: none;
}

.produk-saya {
  color: #0093ec;
  position: relative;
  left: 150px;
}

.pembuatan-website {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 40px;
  border-color: #0093ec;
}

.judulnya, .harganya {
  color: #0093ec;
}

.btn-thm {
  background-color: #0093ec;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  position: relative;
  left: 180px;
}

.warning {
  background-color: #ff6060;
  padding: 20px;
  margin-bottom: 20px;
  border: none;
}

.catatan {
  color: #0093ec;
  position: relative;
  left: 150px;
}

.textnya {
  color: #f40000;
}